<div class="container col-md-8 mt-5">
   <form action="/lego/edit/{{lego._id}}" method="post" class="card p-3 bg-light text-center">
      <h2 class="text text-primary">Edit Lego Infor</h2>

      <div class="form-group mt-3">
         <label class="text-success h6">Lego Name</label>
         <input class="form-control" type="text" name="name" value="{{lego.name}}" required minlength="3"
            maxlength="20">
      </div>


      <div class="form-group mt-3">
         <label class="text-success h6">Lego Type</label>
         <br>
         
         {{#equal lego.type "Boy"}}
         Boy <input type="radio" name="type" value="Boy" checked>
         Girl <input type="radio" name="type" value="Girl">
         {{/equal}}
         {{#equal lego.type "Girl"}}
         Boy <input type="radio" name="type" value="Boy">
         Girl <input type="radio" name="type" value="Girl"checked>
         {{/equal}}
      </div>

      <div class="form-group mt-3">
         <label class="text-success h6">Lego Year</label>
         <input class="form-control" type="year" name="year" value="{{lego.year}}" required >
      </div>

      <div class="form-group mt-3">
         <label class="text-success h6">Lego Image</label><br>
         <img src="{{lego.image}}" width="100" height="100">
         <input class="form-control mt-3" type="text" name="image" value="{{lego.image}}" required>
      </div>

      <div class="form-group mt-3">
         <label class="text-success h6">Lego price</label>
         <input class="form-control" type="price" name="price" value="{{lego.price}}" required >
      </div>


      <div class="form-group mt-3">
         <input class="btn btn-primary mt-3" type="submit" value="Edit">
      </div>
   </form>
</div>